FORT_GYM_SETTINGS={{ fortgym_env_path }}
DFHACK_ENABLED={{ '1' if dfhack_service_enabled else '0' }}
DFHACK_HOST=127.0.0.1
DFHACK_PORT={{ dfhack_remote_port }}
OPENAI_API_KEY={{ lookup('env','OPENAI_API_KEY') | default('', true) }}
ANTHROPIC_API_KEY={{ lookup('env','ANTHROPIC_API_KEY') | default('', true) }}
