[Unit]
Description=DFHack headless fortress
After=network.target

[Service]
EnvironmentFile={{ dfhack_env_path }}
User={{ service_user }}
Group={{ service_group }}
WorkingDirectory={{ dfhack_install_dir }}
ExecStart={{ dfhack_install_dir }}/dfhack-headless.sh
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
